<!--<!doctype html>-->
{% extends '../public/base.html'%} 
{% block title %}系统账户列表{% endblock %}	  
{% block navigation %}                   
	<ol class="breadcrumb">
		<li class="active"><a href="#">系统账户列表</a></li>
	</ol>
{% endblock %}
{% block content %}
<!--中部：右边管理内容 -->
<div style="width: 99%;;margin:30px;">
    <h3 align="center">系统账户列表</h3>
 <!-- 查询表单-->
  <div class ="contaier mb-5">          
            <div class ="row"> 
                <form  method="get" action=""  name = "searchForm" id = "searchForm">
		
            <div class ="contaier">
                <div class ="row mt-10">
                    
            <div class="col">
                <div class ="row">   
                       
                            <div class = "col-3">
                                    <label for="MemberId" >名称:</label>
                            </div>
                            <div class="col">
                                    <input type="text" class="form-control" name="Name" id="Name"  value="{{SystemAccount.Name}}"  maxlength = "30" placeholder="请输入名称" >
                            </div>
                       
                </div>
            </div>
        
                    
                            <div class="col">
                                <input type="submit" value="查询" name="submit" class="btn btn-primary input-sm"/>
                            </div>

        
                </div>
            </div> 
        
                   
                
 
  <!-- 内容操作按钮-->
        <div class ="contaier">          
            <div class ="row"> 
            		<div style="float: left">
                		<ul class='myul'>
				
               
                                
                       
                                <li><a href=" {% url 'systemaccountadd' %}" class="btn btn-info input-sm">添加</a></li>

                                

                                                             

            
                		</ul>
            		</div>
            </div>
        </div> 
<!-- 查询结果-->
       <div class ="contaier">          
            <div class ="row">               
    	<table class = "table table-bordered table-hover table-striped tablesorter"  id="tableSort">
	           <thead title="点击排序">	
        		<tr>	
			
            						<th >名称</th>
			<th  data-type="num" >角色</th>

        			<th>操作</th>
		</tr>
            		</thead>
    		<tbody>
        		{% for item in page%}
		<tr>
            				
           							<td>{{item.Name}}</td>
			<td>{{item.SystemRoleId}}</td>

            			<td>
				
               
                                <a onclick="return confirm('确认要删除？')"  class="btn btn-danger input-sm" href="{% url 'systemaccountdelete' %}?did={{item.id}}">删除</a>
                                <a class="btn btn-info input-sm" href="{% url 'systemaccountedit' %}?eid={{item.id}}">修改</a>
                                <a class="btn btn-info input-sm" href="{% url 'systemaccountdetail' %}?eid={{item.id}}">预览</a>
            
            			</td>                    
        		</tr>
        		{% endfor %}
	 </tbody>
	</table>
            </div>
        </div>
        <!-- 页码 -->
        <div class ="contaier">          
            <div class ="row"> 
	           {{pageInfo|safe }}
            </div>
        </div>  
            
	</form>
</div>
    </div>      
</div>
 <script>
    
  </script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
                                        
     <script src="/static/bootstrap/js/BsMultiSelect.min.js"></script> 
        <script>

        </script> 
      <script src="/static/js/index.js"></script> 
{% endblock %}
