{% extends '../public/base.html'%}
{% block title %}PHOTOCUT{% endblock %}
{% block navigation %}
<ol class="breadcrumb">

    <li><a href="{% url 'memberindex' %}">Userlist</a></li>

    <li class="breadcrumb-item active" aria-current="page">/ Viewuser</a></li>
</ol>
{% endblock %}
{% block content %}
<div align style="width: 500px;position: relative;top: 0px;left:0px;">
    <div class="form-group">
        <div class="row align-items-left mt-2">
            <div class="col">Createtime:{{curEntryObject.CreatedTime}}</div>
        </div>
        <div class="row align-items-left mt-2">
            <div class="col">Updatetime:{{curEntryObject.UpdateTime}}</div>
        </div>
        <div class="row align-items-left mt-2">
            <div class="col">Name:{{curEntryObject.Name}}</div>
        </div>
        <div class="row align-items-left mt-2">
            <div class="col">Phone:{{curEntryObject.PhoneNumber}}</div>
        </div>
        <div class="row align-items-left mt-2">
            <div class="col">INS:{{curEntryObject.WechatNickname}}</div>
        </div>
        <div class="row align-items-left mt-2">
            <div class="col">Password:{{curEntryObject.Password}}</div>
        </div>
        <div class="row align-items-left mt-2">
            <div class="col">E-mail:{{curEntryObject.Email}}</div>
        </div>
        <div class="row align-items-left mt-2">
            <div class="col">Gender:{{curEntryObject.Gender}}</div>
        </div>

    </div>
</div>
{% endblock%}