.desc {
    color: red;
}
 .myul li{
            list-style: none;
            margin-right: 4px;
            margin-bottom: 4px;
            float: left;
        }

html,body{
    width:100%;
    height:100%;
    
    margin:0px;
}
 #main{
        width:100%;
        height:100%;
       /* background:red;*/
        display:flex;
        flex-wrap: wrap;
        flex-direction:row;
        justify-content: start;
    }
    .top-head{
        width: 100%;
        height: 10%;
       /* background: orange;*/
        display:flex;
        flex-wrap: no-wrap;
        justify-content:center;
    }
    .left-menu{
        width:12%;
        height: 90%;
        /*background:yellow;*/
    }
    .right-content{
        width: 88%;
        height:90%;
     /*   background:blue;*/
    }
    #logo{
        width:10%;
        height:100%;
        line-height:80px;
        /*background:purple;*/
    }
    #title{
        width:50%;
        font-size: 28px;
        text-align:center;
        line-height: 80px;
        /*background:#eee;*/
    }
    #per-mes{
        width:20%;
        height:100%;
        line-height: 80px;
        /*background:green;*/
    }
    li{
        list-style:none;
    }
 
    a{
        text-decoration: none;
    }
    a:focus, a:hover {
    color: #23527c;
    text-decoration: none;
    }
    li:hover{
        list-style:none;
    
 	.topMenu{
		background-color:white;
	}
	
	#lbcarousel{
	}
	#lbcarousel .carousel-item{
		height:200px;
		}
    
	#lbcarousel .carousel-item img{
		width:100%;
		}
	a {font-size:16px}
		a:link {color: blue; text-decoration:none;} //未访问：蓝色、无下划线 
		a:active:{color: red; } //激活：红色 
		a:visited {color:purple;text-decoration:none;} //已访问：紫色、无下划线 
		a:hover {color: red; text-decoration:underline;} //鼠标移近：红色、下划线 
	ul li{
		list-style: none;
	}
	.alert {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 200px;
    margin-left: -100px;
    z-index: 99999;
    padding: 15px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.alert-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

.alert-info {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
}

.alert-warning {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
}

.alert-danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

/**箭头图标合起来的样式*/
/** .parent-nav表示父标签 after表示在此后加入字体图标  */
.card-header:after {
	content: "\f077";/** 箭头向上图标*/
	font-family: FontAwesome;
}

/**箭头图标展开式时的样式*/
/** collapsed是bootstrap的属性，表示父标签展开的时候加入的图标 after表示在此后加入字体图标  */
.card-header.collapsed:after {
	content: "\f078";/** 箭头向下图标*/
	font-family: FontAwesome;
}

@page {
  size: A4;
  margin:20px auto;
}
@media print {
  html, body {
      min-width: 0;
      width: 210mm; 
      height: auto;
      text-align: center!important;
  }
  .print-hide {
      visibility: hidden!important;
      display: none!important;
  }

  
#add-photos
{
    height: 150px;
    width: 100%;
}
.add-now{
    height: 150px;
    width: 100px;
    box-sizing: border-box;
    background-color: #d2d2d2;
}
.add-now>img{

    display: none;
    width:100px;
    height: 150px;
}
.add-now>i{
    font-size: 40px;
    margin-left: 25px;
    margin-top: 55px;
}
.one-photo{
    float: left;
    margin-right: 2px;
    position: relative;

}
.one-photo>button{
    position: absolute;
    right: 30%;
    bottom: 2px;
}

.memberPublicInfo {
       background:url('/ImageRecommendationSystem/upload/{{curEntryObject.WeChatAvatarPicture}}') no-repeat center;
       background-size:contain;
}

