{% extends '../public/base.html'%} 
{% block title %}PHOTOCUT{% endblock %}
{% block navigation %}  
	<ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'imagetypeindex' %}">Typelist</a></li>
		<li class="breadcrumb-item active" aria-current="page">Modifytype</li>
	</ol>
{% endblock %} 	  
{% block content %}
<div align="center" style="width: 99%;position: relative;top: 0px;left:0px;">
   	<form  class="form-horizontal" id="form1">
	{% csrf_token %}
	<p class="text-danger" id ="errorMessage">{{message.errorMessage}}</p>
        <input type="hidden" name="curObject_id" value="{{imagetype.id}}"/>
        <div class="form-group">
            <div class ="contaier">
                <div class ="row">

                    <div class = "col-xl-2 col-lg-3 col-md-4 col-sm-6"><label for="Name" >Type</label></div>
                    <div class="col-xl-3 col-lg-4 col-md-5 col-sm-6">
                        <input type="text" class="form-control"   name="Name" id="Name"  value="{{imagetype.Name}}"  maxlength = "200" placeholder="Input type" >
                    </div>
                </div>
            </div>
                    
            <div class ="contaier">
                <div class ="row">

                    <div class = "col-xl-2 col-lg-3 col-md-4 col-sm-6"><label for="Description" >Detail</label></div>
                    <div class="col-xl-3 col-lg-4 col-md-5 col-sm-6">
                        <input type="text" class="form-control"   name="Description" id="Description"  value="{{imagetype.Description}}"  maxlength = "1000" placeholder="Input detail" >
                    </div>
                </div>
            </div>

        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
	
                    <button class="btn btn-primary" type="button" onclick="saveCurData('/ImageRecommendationSystem/admin/ImageType/save_edit/')" id ="postData">Sure</button>
                
            </div>
        </div>
    </form>
</div>

<script type="text/javascript" >
var checkObjectList = []

var checkInfo =  new CheckInfo("Name","名称","",200,true,"");
checkObjectList.push(checkInfo)           
            
var checkInfo =  new CheckInfo("Description","描述","",1000,true,"");
checkObjectList.push(checkInfo)           
            

</script>
{% endblock%}
