<!--<!doctype html>-->
{% extends '../userBase.html'%} 
{% block title %}图片信息{% endblock %}	  
{% block navigation %}                   
	<li class="breadcrumb-item"><a href="{% url 'membercenterimageinformationsearch' %}?MemberId={{request.session.frontusernameid}}">图片信息列表</a></li>
       	<li class="breadcrumb-item active" aria-current="page">详情</li>
{% endblock %}
{% block content %}
<!-- 标题开始 -->
<h1 class="mt-3 mb-4">图片信息</h1>
<!-- 标题结束 -->
<!-- 内容项目开始 -->
          		<div class ="row align-items-left mt-2">			<div class ="col">创建时间:{{curEntryObject.CreatedTime}}</div>
</div>
		<div class ="row align-items-left mt-2">			<div class ="col">更新时间:{{curEntryObject.UpdateTime}}</div>
</div>
		<div class ="row align-items-left mt-2">			<div class ="col">图片类型:{{curEntryObject.ImageTypeId}}</div>
</div>
		<div class ="row align-items-left mt-2">			<div class ="col">标题:{{curEntryObject.Name}}</div>
</div>
		<div class ="row align-items-left mt-2">			<div class ="col">作品描述:{{curEntryObject.WorkDescription}}</div>
</div>
		<div class ="row align-items-left mt-2">			<div class ="col">图片链接:
            {%for image in ImageLinks%}
            <img src= "{{ request.scheme }}://{{ request.get_host }}/ImageRecommendationSystem/upload/{{image}}">
            {%endfor%}
            </div>

            </div>
		<div class ="row align-items-left mt-2">			<div class ="col">作者:{{curEntryObject.MemberId}}</div>
</div>
		<div class ="row align-items-left mt-2">			<div class ="col">标签:{{curEntryObject.ImageTags}}</div>
</div>

    <!-- 互动按钮 开始 -->
    <div class ="row">
	
    </div>
    <!-- 互动按钮 结束 -->
<!-- 内容项目结束 -->
{% endblock %}
