<!--<!doctype html>-->
{% extends '../userBase.html'%}
{% block title %}PHOTO CUT{% endblock %}
{% block navigation %}
<li class="breadcrumb-item active" aria-current="page"><a href="#">Photolist</a></li>
{% endblock %}
{% block content %}
<!--中部：右边管理内容 -->

<table class="table table-striped">
    <thead>
    <tr>
        <td>
            <button type="button" class="btn">
                <a href=" {% url 'membercenterimageinformationadd' %}">Add</a></button>
        </td>
    </tr>
    <tr scope="row">

        <th>Type</th>
        <th>Title</th>
        <th>Detail</th>
    </tr>
    </thead>
    <tbody>
    {% for item in page%}
    <tr>
        <td>{{item.ImageTypeId}}</td>
        <td>{{item.Name}}</td>
        <td>{{item.WorkDescription}}</td>
        <td><a onclick="return confirm('Sure to delete？')" class="btn btn-danger input-sm"
               href="{% url 'membercenterimageinformationdelete' %}?did={{item.id}}">Delete</a>
            <a class="btn btn-info input-sm" href="{% url 'membercenterimageinformationedit' %}?eid={{item.id}}">Modify</a>

        </td>

    </tr>
    {% endfor %}
    </tbody>
</table>
<!-- 页码导航 开始 -->
<nav aria-label="...">
    <ul class="pagination justify-content-center"
    ">
    {{pageInfo|safe }}
    </ul>
</nav>
<!--  页码导航 结束  -->

{% endblock %}
