{% extends '../public/base.html'%}
{% block title %}PHOTOCUT {% endblock %}
{% block navigation %}
<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'imageinformationindex' %}">Photolist</a></li>
    <li class="breadcrumb-item active" aria-current="page">Addphoto</li>
</ol>
{% endblock %}
{% block content %}
<div align="center" style="width: 99%;position: relative;top: 0px;left:0px;">
    <form class="form-horizontal" id="form1">
        {% csrf_token %}
        <p class="text-danger" id="errorMessage">{{message.errorMessage}}</p>
        <div class="form-group">
            <div class="contaier">
                <div class="row">
                    <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6"><label for="ImageTypeId">Type</label></div>

                    <div class="col-xl-3 col-lg-4 col-md-5 col-sm-6">
                        <select class="form-control" name="ImageTypeId" id="ImageTypeId">
                            {% for item in ImageType%}
                            <option value="{{item.id}}">{{ item.Name}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
            <div class="contaier">
                <div class="row">
                    <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6"><label for="Name">Title</label></div>
                    <div class="col-xl-3 col-lg-4 col-md-5 col-sm-6">
                        <input type="text" class="form-control" name="Name" id="Name" value="" maxlength="200"
                               placeholder="Input title">
                    </div>
                </div>
            </div>

            <div class="contaier">
                <div class="row">
                    <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6"><label for="WorkDescription">Detail</label></div>
                    <div class="col-xl-3 col-lg-4 col-md-5 col-sm-6">
                        <textarea type="text" class="form-control" name="WorkDescription" id="WorkDescription"
                                  style="resize:none" maxlength="10000" placeholder="Input detail"></textarea>
                    </div>
                </div>
            </div>

            <div class="contaier">
                <div class="row">
                    <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6"><label for="ImageLink">Link</label></div>
                    <div class="col-xl-3 col-lg-4 col-md-5 col-sm-6">
                        <input type="file" multiple="multiple" class="form-control" name="ImageLink" id="ImageLink"
                               maxlength="20000" placeholder="请输入图片链接"/>
                    </div>
                </div>
            </div>

            <div class="contaier">
                <div class="row">

                    <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6"><label for="MemberId">User</label></div>
                    <div class="col-xl-3 col-lg-4 col-md-5 col-sm-6">
                        <select class="form-control" name="MemberId" id="MemberId">
                            {% for item in Member%}
                            <option value="{{item.id}}">{{ item.Name}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>

            <div class="contaier">
                <div class="row">
                    <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6"><label for="ImageTags">Tag</label></div>
                    <div class="col-xl-3 col-lg-4 col-md-5 col-sm-6">
                        <textarea type="text" class="form-control" name="ImageTags" id="ImageTags" style="resize:none"
                                  maxlength="5000" placeholder="Input tag"></textarea>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button class="btn btn-primary" type="button"
                        onclick="saveCurData('/ImageRecommendationSystem/admin/ImageInformation/save_add/')"
                        id="postData">Sure
                </button>
            </div>
        </div>
    </form>
</div>

<script type="text/javascript">
var checkObjectList = []

var checkInfo =  new CheckInfo("ImageTypeId","图片类型","",11,true,"");
checkObjectList.push(checkInfo)           
            
var checkInfo =  new CheckInfo("Name","标题","",200,true,"");
checkObjectList.push(checkInfo)           
            
var checkInfo =  new CheckInfo("WorkDescription","作品描述","",10000,true,"");
checkObjectList.push(checkInfo)           
            
var checkInfo =  new CheckInfo("ImageLink","图片链接","Picture",20000,true,"图片");
checkObjectList.push(checkInfo)           
            
var checkInfo =  new CheckInfo("MemberId","作者","",11,true,"");
checkObjectList.push(checkInfo)           
            
var checkInfo =  new CheckInfo("ImageTags","标签","",5000,true,"");
checkObjectList.push(checkInfo)           
            


</script>
{% endblock%}