{% extends '../public/base.html'%}
{% block title %}PHOTOCUT{% endblock %}
{% block navigation %}
<ol class="breadcrumb">
    <li><a href="{% url 'imageinformationindex' %}">Photolist</a></li>
    <li class="breadcrumb-item active" aria-current="page">/ Viewphoto</a></li>
</ol>
{% endblock %}
{% block content %}
<div align style="width: 500px;position: relative;top: 0px;left:0px;">
    <div class="form-group">
        <div class="row align-items-left mt-2">
            <div class="col">Createtime:{{curEntryObject.CreatedTime}}</div>
        </div>
        <div class="row align-items-left mt-2">
            <div class="col">Updatetime:{{curEntryObject.UpdateTime}}</div>
        </div>
        <div class="row align-items-left mt-2">
            <div class="col">Type:{{curEntryObject.ImageTypeId}}</div>
        </div>
        <div class="row align-items-left mt-2">
            <div class="col">Title:{{curEntryObject.Name}}</div>
        </div>
        <div class="row align-items-left mt-2">
            <div class="col">Detail:{{curEntryObject.WorkDescription}}</div>
        </div>
        <div class="row align-items-left mt-2">
            <div class="col">Link:
                {%for image in ImageLinks%}
                <img src="{{ request.scheme }}://{{ request.get_host }}/ImageRecommendationSystem/upload/{{image}}">
                {%endfor%}
            </div>

        </div>
        <div class="row align-items-left mt-2">
            <div class="col">User:{{curEntryObject.MemberId}}</div>
        </div>
        <div class="row align-items-left mt-2">
            <div class="col">Tag:{{curEntryObject.ImageTags}}</div>
        </div>

    </div>
</div>
{% endblock%}