{% extends '../public/base.html'%} 
{% block title %}增加图片类型 {% endblock %}	 
{% block navigation %}  
		<ol class="breadcrumb">
			

                    <li class="breadcrumb-item"><a href="{% url 'imagetypeindex' %}">图片类型列表</a></li>
                    
			<li class="breadcrumb-item active" aria-current="page">增加图片类型</li>
		   </ol>
{% endblock %} 
{% block content %}
<div align="center" style="width: 99%;position: relative;top: 0px;left:0px;">
   	<form  class="form-horizontal" id="form1">
	{% csrf_token %}
	<p class="text-danger" id ="errorMessage">{{message.errorMessage}}</p>	
        <div class="form-group">
	
                                                        
    
                                                        <div class ="contaier">
                                                                 <div class ="row">
        
                                                			         
                    <div class = "col-xl-2 col-lg-3 col-md-4 col-sm-6"><label for="Name" >名称</label></div>
            
                                                                     <div class="col-xl-3 col-lg-4 col-md-5 col-sm-6">
                                                                        <input type="text" class="form-control"   name="Name" id="Name"  value=""  maxlength = "200" placeholder="请输入名称" >
                                                                    </div>
                                                		
    
                                                         </div>
                                                                   </div>
                    
            
                                                        
    
                                                        <div class ="contaier">
                                                                 <div class ="row">
        
                                                			         
                    <div class = "col-xl-2 col-lg-3 col-md-4 col-sm-6"><label for="Description" >描述</label></div>
            
                                                                     <div class="col-xl-3 col-lg-4 col-md-5 col-sm-6">
                                                                        <input type="text" class="form-control"   name="Description" id="Description"  value=""  maxlength = "1000" placeholder="请输入描述" >
                                                                    </div>
                                                		
    
                                                         </div>
                                                                   </div>
                    
            
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
	
                    <button class="btn btn-primary" type="button" onclick="saveCurData('/ImageRecommendationSystem/admin/ImageType/save_add/')" id ="postData">确认</button>
                
            </div>
        </div>
    </form>
</div>

<script type="text/javascript" >
var checkObjectList = []

var checkInfo =  new CheckInfo("Name","名称","",200,true,"");
checkObjectList.push(checkInfo)           
            
var checkInfo =  new CheckInfo("Description","描述","",1000,true,"");
checkObjectList.push(checkInfo)           
            

</script>
{% endblock%}