{% extends '../public/base.html'%} 
{% block title %}预览图片类型{% endblock %}
{% block navigation %}  
	<ol class="breadcrumb">

                <li><a href="{% url 'imagetypeindex' %}">图片类型列表</a></li>
            
		<li class="breadcrumb-item active" aria-current="page">预览图片类型</a></li>
	</ol>
{% endblock %} 	  
{% block content %}
<div align="center" style="width: 500px;position: relative;top: 0px;left:0px;">
        <div class="form-group">
          		<div class ="row align-items-left mt-2">			<div class ="col">创建时间:{{curEntryObject.CreatedTime}}</div>
</div>
		<div class ="row align-items-left mt-2">			<div class ="col">更新时间:{{curEntryObject.UpdateTime}}</div>
</div>
		<div class ="row align-items-left mt-2">			<div class ="col">名称:{{curEntryObject.Name}}</div>
</div>
		<div class ="row align-items-left mt-2">			<div class ="col">描述:{{curEntryObject.Description}}</div>
</div>

        </div>
</div>
{% endblock%}