{% extends '../public/base.html'%} 
{% block title %}预览用户{% endblock %}
{% block navigation %}  
	<ol class="breadcrumb">

                <li><a href="{% url 'memberindex' %}">用户列表</a></li>
            
		<li class="breadcrumb-item active" aria-current="page">预览用户</a></li>
	</ol>
{% endblock %} 	  
{% block content %}
<div align="center" style="width: 500px;position: relative;top: 0px;left:0px;">
        <div class="form-group">
          		<div class ="row align-items-left mt-2">			<div class ="col">创建时间:{{curEntryObject.CreatedTime}}</div>
</div>
		<div class ="row align-items-left mt-2">			<div class ="col">更新时间:{{curEntryObject.UpdateTime}}</div>
</div>
		<div class ="row align-items-left mt-2">			<div class ="col">名称:{{curEntryObject.Name}}</div>
</div>
		<div class ="row align-items-left mt-2">			<div class ="col">手机号:{{curEntryObject.PhoneNumber}}</div>
</div>
		<div class ="row align-items-left mt-2">			<div class ="col">微信号昵称:{{curEntryObject.WechatNickname}}</div>
</div>
		<div class ="row align-items-left mt-2">			<div class ="col">微信头像图片:<img src= "{{ request.scheme }}://{{ request.get_host }}/ImageRecommendationSystem/upload/{{curEntryObject.WeChatAvatarPicture}}"></div>
</div>
		<div class ="row align-items-left mt-2">			<div class ="col">密码:{{curEntryObject.Password}}</div>
</div>
		<div class ="row align-items-left mt-2">			<div class ="col">最近登录时间:{{curEntryObject.LastLoginTime}}</div>
</div>
		<div class ="row align-items-left mt-2">			<div class ="col">E-mail:{{curEntryObject.Email}}</div>
</div>
		<div class ="row align-items-left mt-2">			<div class ="col">启用:{{curEntryObject.CanUsed}}</div>
</div>
		<div class ="row align-items-left mt-2">			<div class ="col">姓名:{{curEntryObject.NameSurname}}</div>
</div>
		<div class ="row align-items-left mt-2">			<div class ="col">性别:{{curEntryObject.Gender}}</div>
</div>
		<div class ="row align-items-left mt-2">			<div class ="col">电话:{{curEntryObject.Telephone}}</div>
</div>
		<div class ="row align-items-left mt-2">			<div class ="col">地区:{{curEntryObject.Area}}</div>
</div>
		<div class ="row align-items-left mt-2">			<div class ="col">简介:{{curEntryObject.Introduction}}</div>
</div>

        </div>
</div>
{% endblock%}