{% extends '../public/base.html'%} 
{% block title %}修改用户{% endblock %}
{% block navigation %}  
	<ol class="breadcrumb">
		

                    <li class="breadcrumb-item"><a href="{% url 'memberindex' %}">用户列表</a></li>
                    
		<li class="breadcrumb-item active" aria-current="page">修改用户</li>
	</ol>
{% endblock %} 	  
{% block content %}
<div align="center" style="width: 99%;position: relative;top: 0px;left:0px;">
   	<form  class="form-horizontal" id="form1">
	{% csrf_token %}
	<p class="text-danger" id ="errorMessage">{{message.errorMessage}}</p>
        <input type="hidden" name="curObject_id" value="{{member.id}}"/>
        <div class="form-group">
          
                                                        
    
                                                        <div class ="contaier">
                                                                 <div class ="row">
        
                                                			         
                    <div class = "col-xl-2 col-lg-3 col-md-4 col-sm-6"><label for="Name" >名称</label></div>
            
                                                                     <div class="col-xl-3 col-lg-4 col-md-5 col-sm-6">
                                                                        <input type="text" class="form-control"   name="Name" id="Name"  value="{{member.Name}}"  maxlength = "100" placeholder="请输入名称" >
                                                                    </div>
                                                		
    
                                                         </div>
                                                                   </div>
                    
            
                                                        
    
                                                        <div class ="contaier">
                                                                 <div class ="row">
        
                                                			         
                    <div class = "col-xl-2 col-lg-3 col-md-4 col-sm-6"><label for="PhoneNumber" >手机号</label></div>
            
                                                                     <div class="col-xl-3 col-lg-4 col-md-5 col-sm-6">
                                                                        <input type="text" class="form-control"   name="PhoneNumber" id="PhoneNumber"  value="{{member.PhoneNumber}}"  maxlength = "110" placeholder="请输入手机号" >
                                                                    </div>
                                                		
    
                                                         </div>
                                                                   </div>
                    
            
                                                        
    
                                                        <div class ="contaier">
                                                                 <div class ="row">
        
                                                			         
                    <div class = "col-xl-2 col-lg-3 col-md-4 col-sm-6"><label for="WechatNickname" >微信号昵称</label></div>
            
                                                                     <div class="col-xl-3 col-lg-4 col-md-5 col-sm-6">
                                                                        <input type="text" class="form-control"   name="WechatNickname" id="WechatNickname"  value="{{member.WechatNickname}}"  maxlength = "200" placeholder="请输入微信号昵称" >
                                                                    </div>
                                                		
    
                                                         </div>
                                                                   </div>
                    
            
    
                                                        
    
                                                        <div class ="contaier">
                                                                 <div class ="row">
        
                                    			                     
                    <div class = "col-xl-2 col-lg-3 col-md-4 col-sm-6"><label for="WeChatAvatarPicture" >微信头像图片</label></div>
             			                     
                                                                     <div class="col-xl-3 col-lg-4 col-md-5 col-sm-6">
                                                                        <input type="file"   class="form-control" name="WeChatAvatarPicture" id="WeChatAvatarPicture"   maxlength = "1500" placeholder="请输入微信头像图片"  />
                                                                     </div>
                                			            
    
                                                         </div>
                                                                   </div>
        
    
            
                                                        
    
                                                        <div class ="contaier">
                                                                 <div class ="row">
        
                                                			         
                    <div class = "col-xl-2 col-lg-3 col-md-4 col-sm-6"><label for="Password" >密码</label></div>
            
                                                                     <div class="col-xl-3 col-lg-4 col-md-5 col-sm-6">
                                                                        <input type="text" class="form-control"   name="Password" id="Password"  value="{{member.Password}}"  maxlength = "200" placeholder="请输入密码" >
                                                                    </div>
                                                		
    
                                                         </div>
                                                                   </div>
                    
            
                                                        
    
                                                        <div class ="contaier">
                                                                 <div class ="row">
        
                                                			         
                    <div class = "col-xl-2 col-lg-3 col-md-4 col-sm-6"><label for="LastLoginTime" >最近登录时间</label></div>
            
                                                                     <div class="col-xl-3 col-lg-4 col-md-5 col-sm-6">
                                                                        <input type="text" class="form-control"   name="LastLoginTime" id="LastLoginTime"  value="{{member.LastLoginTime}}"  maxlength = "200" placeholder="请输入最近登录时间" >
                                                                    </div>
                                                		
    
                                                         </div>
                                                                   </div>
                    
            
                                                        
    
                                                        <div class ="contaier">
                                                                 <div class ="row">
        
                                                			         
                    <div class = "col-xl-2 col-lg-3 col-md-4 col-sm-6"><label for="Email" >E-mail</label></div>
            
                                                                     <div class="col-xl-3 col-lg-4 col-md-5 col-sm-6">
                                                                        <input type="text" class="form-control"   name="Email" id="Email"  value="{{member.Email}}"  maxlength = "500" placeholder="请输入E-mail" >
                                                                    </div>
                                                		
    
                                                         </div>
                                                                   </div>
                    
            
            
    
                                                        <div class ="contaier">
                                                                 <div class ="row">
        
				
                    <div class = "col-xl-2 col-lg-3 col-md-4 col-sm-6"><label for="CanUsed" >启用</label></div>
            
             <div class="col-xl-3 col-lg-4 col-md-5 col-sm-6">
                  <select class="form-control"   name="CanUsed" id = "CanUsed">
                    
                    
            <option  value="2"  {% if  '2' == member.CanUsed %} selected {% endif %} >使用</option>
            
            <option  value="3"  {% if  '3' == member.CanUsed %} selected {% endif %} >禁用</option>
            
                </select> 
             </div>
			
    
                                                         </div>
                                                                   </div>
        
            
            
                                                        
    
                                                        <div class ="contaier">
                                                                 <div class ="row">
        
                                                			         
                    <div class = "col-xl-2 col-lg-3 col-md-4 col-sm-6"><label for="NameSurname" >姓名</label></div>
            
                                                                     <div class="col-xl-3 col-lg-4 col-md-5 col-sm-6">
                                                                        <input type="text" class="form-control"   name="NameSurname" id="NameSurname"  value="{{member.NameSurname}}"  maxlength = "200" placeholder="请输入姓名" >
                                                                    </div>
                                                		
    
                                                         </div>
                                                                   </div>
                    
            
            
    
                                                        <div class ="contaier">
                                                                 <div class ="row">
        
				
                    <div class = "col-xl-2 col-lg-3 col-md-4 col-sm-6"><label for="Gender" >性别</label></div>
            
             <div class="col-xl-3 col-lg-4 col-md-5 col-sm-6">
                  <select class="form-control"   name="Gender" id = "Gender">
                    
                    
            <option  value="2"  {% if  '2' == member.Gender %} selected {% endif %} >男</option>
            
            <option  value="3"  {% if  '3' == member.Gender %} selected {% endif %} >女</option>
            
                </select> 
             </div>
			
    
                                                         </div>
                                                                   </div>
        
            
            
                                                        
    
                                                        <div class ="contaier">
                                                                 <div class ="row">
        
                                                			         
                    <div class = "col-xl-2 col-lg-3 col-md-4 col-sm-6"><label for="Telephone" >电话</label></div>
            
                                                                     <div class="col-xl-3 col-lg-4 col-md-5 col-sm-6">
                                                                        <input type="text" class="form-control"   name="Telephone" id="Telephone"  value="{{member.Telephone}}"  maxlength = "200" placeholder="请输入电话" >
                                                                    </div>
                                                		
    
                                                         </div>
                                                                   </div>
                    
            
                                                        
    
                                                        <div class ="contaier">
                                                                 <div class ="row">
        
                                                			         
                    <div class = "col-xl-2 col-lg-3 col-md-4 col-sm-6"><label for="Area" >地区</label></div>
            
                                                                     <div class="col-xl-3 col-lg-4 col-md-5 col-sm-6">
                                                                        <input type="text" class="form-control"   name="Area" id="Area"  value="{{member.Area}}"  maxlength = "500" placeholder="请输入地区" >
                                                                    </div>
                                                		
    
                                                         </div>
                                                                   </div>
                    
            
                                                        
    
                                                        <div class ="contaier">
                                                                 <div class ="row">
        
                                                			         
                    <div class = "col-xl-2 col-lg-3 col-md-4 col-sm-6"><label for="Introduction" >简介</label></div>
            
                                                                     <div class="col-xl-3 col-lg-4 col-md-5 col-sm-6">
                                                                        <textarea type="text" class="form-control"   name="Introduction" id="Introduction"  style="resize:none" maxlength = "5000" placeholder="请输入简介" >{{member.Introduction}}</textarea>
                                                                     </div>
                                                		
    
                                                         </div>
                                                                   </div>
                   
                                        
            
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
	
                    <button class="btn btn-primary" type="button" onclick="saveCurData('/ImageRecommendationSystem/admin/Member/save_edit/')" id ="postData">确认</button>
                
            </div>
        </div>
    </form>
</div>

<script type="text/javascript" >
var checkObjectList = []

var checkInfo =  new CheckInfo("Name","名称","",100,false,"");
checkObjectList.push(checkInfo)           
            
var checkInfo =  new CheckInfo("PhoneNumber","手机号","PhoneNumber",110,true,"手机号");
checkObjectList.push(checkInfo)           
            
var checkInfo =  new CheckInfo("WechatNickname","微信号昵称","",200,true,"");
checkObjectList.push(checkInfo)           
            
var checkInfo =  new CheckInfo("WeChatAvatarPicture","微信头像图片","Picture",1500,true,"图片");
checkObjectList.push(checkInfo)           
            
var checkInfo =  new CheckInfo("Password","密码","Password",200,false,"密码");
checkObjectList.push(checkInfo)           
            
var checkInfo =  new CheckInfo("LastLoginTime","最近登录时间","",200,true,"");
checkObjectList.push(checkInfo)           
            
var checkInfo =  new CheckInfo("Email","E-mail","Mail",500,true,"邮箱");
checkObjectList.push(checkInfo)           
            
var checkInfo =  new CheckInfo("CanUsed","启用","",20,true,"");
checkObjectList.push(checkInfo)           
            
var checkInfo =  new CheckInfo("NameSurname","姓名","",200,true,"");
checkObjectList.push(checkInfo)           
            
var checkInfo =  new CheckInfo("Gender","性别","",20,true,"");
checkObjectList.push(checkInfo)           
            
var checkInfo =  new CheckInfo("Telephone","电话","",200,true,"");
checkObjectList.push(checkInfo)           
            
var checkInfo =  new CheckInfo("Area","地区","",500,true,"");
checkObjectList.push(checkInfo)           
            
var checkInfo =  new CheckInfo("Introduction","简介","",5000,true,"");
checkObjectList.push(checkInfo)           
            

</script>
{% endblock%}
