{% extends '../public/base.html'%}
{% block title %}Commentlist {% endblock %}
{% block navigation %}
<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'commentindex' %}">Commentlist</a></li>
    <li class="breadcrumb-item active" aria-current="page">Addcomment</li>
</ol>
{% endblock %}
{% block content %}
<div align="center" style="width: 99%;position: relative;top: 0px;left:0px;">
    <form class="form-horizontal" id="form1">
        {% csrf_token %}
        <p class="text-danger" id="errorMessage">{{message.errorMessage}}</p>
        <div class="form-group">
            <div class="contaier">
                <div class="row">
                    <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6"><label for="ImageInformationId">Photos</label></div>
                    <div class="col-xl-3 col-lg-4 col-md-5 col-sm-6">
                        <select class="form-control" name="ImageInformationId" id="ImageInformationId">
                            {% for item in ImageInformation%}
                            <option value="{{item.id}}">{{ item.Name}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
            <div class="contaier">
                <div class="row">
                    <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6"><label for="MemberId">User</label></div>
                    <div class="col-xl-3 col-lg-4 col-md-5 col-sm-6">
                        <select class="form-control" name="MemberId" id="MemberId">
                            {% for item in Member%}
                            <option value="{{item.id}}">{{ item.Name}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>

            <div class="contaier">
                <div class="row">
                    <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6"><label for="Content">Comment</label></div>
                    <div class="col-xl-3 col-lg-4 col-md-5 col-sm-6">
                        <textarea type="text" class="form-control" name="Content" id="Content" style="resize:none"
                                  maxlength="10000" placeholder="Inpout comment"></textarea>
                    </div>
                </div>
            </div>


        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button class="btn btn-primary" type="button"
                        onclick="saveCurData('/ImageRecommendationSystem/admin/Comment/save_add/')" id="postData">Sure
                </button>
            </div>
        </div>
    </form>
</div>

<script type="text/javascript">
var checkObjectList = []

var checkInfo =  new CheckInfo("ImageInformationId","图片","",11,true,"");
checkObjectList.push(checkInfo)           
            
var checkInfo =  new CheckInfo("MemberId","用户","",11,true,"");
checkObjectList.push(checkInfo)           
            
var checkInfo =  new CheckInfo("Content","内容","",10000,true,"");
checkObjectList.push(checkInfo)           
            
var checkInfo =  new CheckInfo("CommentId","上级评论","",11,true,"");
checkObjectList.push(checkInfo)           
            


</script>
{% endblock%}