<!--<!doctype html>-->
{% extends '../public/base.html'%}

{% block title %}Picture click statistics{% endblock %}
{% block Statistics %}
<script src="https://cdn.bootcss.com/echarts/3.7.1/echarts.min.js"></script>
<!--
  <script  type="text/javascript"  src="/static/js/echarts.min.js"></script>
-->
{% endblock %}
{% block navigation %}
<ol class="breadcrumb">

    <li><a href="{% url 'index' %}">Back</a></li>

    <li class="active"><a href="#">Picture click statistics</a></li>
</ol>
{% endblock %}

{% block content %}
<!--中部：右边管理内容 -->
<div style="width: 80%;">

    <table class="table" style="table-layout: fixed;">
        <div>

            <div style="float: left">
                <form method="get" action="">

                    <div class="form-group">

                        <div class="contaier">
                            <div class="row">

                            </div>
                        </div>
                        <div class="contaier">
                            <div class="row">

                                <div class="col-2"><label for="CreatedTime">Time</label></div>
                                <div class="col-sm-4">
                                    <div class='input-group date' id='CreatedTimeStartDiv'>
                                        <input type='text' class="form-control" name="CreatedTimeStart"
                                               id="CreatedTimeStart" value="{{BrowsingHistory.CreatedTimeStart}}"
                                               maxlength="20" placeholder="From"/>
                                        <span class="input-group-addon"><span
                                                class="glyphicon glyphicon-calendar"></span>
                       </span>
                                    </div>
                                </div>
                                <label>--</label>
                                <div class="col-sm-4">
                                    <div class='input-group date' id='CreatedTimeEndDiv'>
                                        <input type='text' class="form-control" name="CreatedTimeEnd"
                                               id="CreatedTimeEnd" value="{{BrowsingHistory.CreatedTimeEnd}}"
                                               maxlength="20" placeholder="To"/>
                                        <span class="input-group-addon"><span
                                                class="glyphicon glyphicon-calendar"></span>
                      </span>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>


                    <input type="submit" value="Search" name="submit" class="btn btn-primary input-sm"/>
                </form>
            </div>
        </div>

    </table>
    <!-- 总体数据 -->
    <div class="row">

        <div class="col-sm-3 ">
            <div class="card border border-primary">
                <div class="card-body">
                    <h5 class="card-title">Click Times</h5>
                    <p class="card-text">{{Summary.idCount}}</p>

                </div>
            </div>
        </div>


    </div>
    <!-- 单项数据图标 -->
    <div id="curEchart" style="width:800px;height: 400px;margin-top: 20px;"></div>


    <script type="text/javascript">

        // 基于准备好的dom，初始化echarts实例
        var myChart = echarts.init(document.getElementById('curEchart'));

        // 指定图表的配置项和数据
var option = {
  title: {
    text: 'Picture click statistics'
  },
  tooltip: {
    trigger: 'axis'
  },
  legend: {
    data: ['Click times']
  },
  grid: {
    left: '3%',
    right: '4%',
    bottom: '3%',
    containLabel: true
  },
  toolbox: {
    feature: {
      saveAsImage: {}
    }
  },
  xAxis: {
    type: 'category',
    boundaryGap: true,
    data: {{DaySummary.searchDateList|safe}}
  },
  yAxis: {
    type: 'value'
  },
  series: [
            {
      name: 'Hot',
      type: 'line',
      stack: 'Total',
      data: {{DaySummary.idCountList|safe}}
    }
    
  ]
};	
        // 使用刚指定的配置项和数据显示图表。
        myChart.setOption(option);



    </script>
    <div id="JobHistogram" style="width:800px;height: 400px;margin-top: 20px;"></div>
    <!--直方图 -->
    <script type="text/javascript">
    var JobHistogram = echarts.init(document.getElementById('JobHistogram'));
    var option;

option = {
  title: {
    text: 'Type statistics'
  },
  xAxis: {
    type: 'category',
    data: {{DaySummary.ImageInformationTypeName|safe}},
  },
  yAxis: {
    type: 'value'
  },
  series: [
    {
      data:{{DaySummary.ImageInformationTypeValue|safe}},
      type: 'bar',
      showBackground: true,
      backgroundStyle: {
        color: 'rgba(180, 180, 180, 0.2)'
      }
    }
  ]
};

    JobHistogram.setOption(option);  

    </script>
</div>
<script>

                  $(function () {
            $('#CreatedTimeStart').datetimepicker({
                format: 'YYYY-MM-DD HH:mm:ss',
                locale: moment.locale('zh-cn'),
                viewDate:new Date()
            });
          }); 
          
                  $(function () {
            $('#CreatedTimeEnd').datetimepicker({
                format: 'YYYY-MM-DD HH:mm:ss',
                locale: moment.locale('zh-cn'),
                viewDate:new Date()
            });
          }); 
                

</script>

{% endblock %}
