{% extends '../userBase.html'%}
{% block title %}PHOTO CUT{% endblock %}
{% block navigation %}

<li class="breadcrumb-item active" aria-current="page"><a href="#">Useraccount</a></li>
{% endblock %}
{% block content %}
<form class="form-horizontal" id="form1">
    {% csrf_token %}
    <p class="text-danger" id="errorMessage">{{message.errorMessage}}</p>
    <input type="hidden" name="curObject_id" value="{{member.id}}"/>
    <div class="form-group">
        <div class="contaier">
            <div class="row">
                <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6"><label for="Name">Name</label></div>
                <div class="col-xl-3 col-lg-4 col-md-5 col-sm-6">
                    <input type="text" class="form-control" name="Name" id="Name" value="{{member.Name}}" maxlength="100" placeholder="Input name">
                </div>
            </div>
        </div>

        <div class="contaier">
            <div class="row">

                <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6"><label for="PhoneNumber">Phone</label></div>

                <div class="col-xl-3 col-lg-4 col-md-5 col-sm-6">
                    <input type="text" class="form-control" name="PhoneNumber" id="PhoneNumber"
                           value="{{member.PhoneNumber}}" maxlength="110" placeholder="Input phonw">
                </div>


            </div>
        </div>




        <div class="contaier">
            <div class="row">


                <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6"><label for="WeChatAvatarPicture">Picture</label></div>

                <div class="col-xl-3 col-lg-4 col-md-5 col-sm-6">
                    <input type="file" class="form-control" name="WeChatAvatarPicture" id="WeChatAvatarPicture"
                           maxlength="1500" placeholder="link"/>
                </div>


            </div>
        </div>


        <div class="contaier">
            <div class="row">


                <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6"><label for="Password">Password</label></div>

                <div class="col-xl-3 col-lg-4 col-md-5 col-sm-6">
                    <input type="text" class="form-control" name="Password" id="Password" value="{{member.Password}}"
                           maxlength="200" placeholder="Input password">
                </div>


            </div>
        </div>




        <div class="contaier">
            <div class="row">


                <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6"><label for="Email">E-mail</label></div>

                <div class="col-xl-3 col-lg-4 col-md-5 col-sm-6">
                    <input type="text" class="form-control" name="Email" id="Email" value="{{member.Email}}"
                           maxlength="500" placeholder="Input E-mail">
                </div>


            </div>
        </div>


        <div class="contaier">
            <div class="row">


                <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6"><label for="Gender">Gender</label></div>

                <div class="col-xl-3 col-lg-4 col-md-5 col-sm-6">
                    <select class="form-control" name="Gender" id="Gender">


                        <option value="2" {% if '2' == member.Gender %} selected {% endif %} >Male</option>

                        <option value="3" {% if '3' == member.Gender %} selected {% endif %} >Female</option>

                    </select>
                </div>


            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <div class="form-group row">
                <div class>

                    <button class="btn btn-primary" type="button"
                            onclick="saveCurData('/ImageRecommendationSystem/MemberCenter/Member/save_edit/')"
                            id="postData">Sure
                    </button>
                    <button class="btn btn-warning" type="button">Cancle</button>
                </div>
            </div>
        </div>
    </div>
</form>

<script type="text/javascript">
var checkObjectList = []

var checkInfo =  new CheckInfo("Name","名称","",100,false,"");
checkObjectList.push(checkInfo)           
            
var checkInfo =  new CheckInfo("PhoneNumber","手机号","PhoneNumber",110,true,"手机号");
checkObjectList.push(checkInfo)           
            
var checkInfo =  new CheckInfo("WechatNickname","微信号昵称","",200,true,"");
checkObjectList.push(checkInfo)           
            
var checkInfo =  new CheckInfo("WeChatAvatarPicture","微信头像图片","Picture",1500,true,"图片");
checkObjectList.push(checkInfo)           
            
var checkInfo =  new CheckInfo("Password","密码","Password",200,false,"密码");
checkObjectList.push(checkInfo)           
            
var checkInfo =  new CheckInfo("LastLoginTime","最近登录时间","",200,true,"");
checkObjectList.push(checkInfo)           
            
var checkInfo =  new CheckInfo("Email","E-mail","Mail",500,true,"邮箱");
checkObjectList.push(checkInfo)           
            
var checkInfo =  new CheckInfo("CanUsed","启用","",20,true,"");
checkObjectList.push(checkInfo)           
            
var checkInfo =  new CheckInfo("NameSurname","姓名","",200,true,"");
checkObjectList.push(checkInfo)           
            
var checkInfo =  new CheckInfo("Gender","性别","",20,true,"");
checkObjectList.push(checkInfo)           
            
var checkInfo =  new CheckInfo("Telephone","电话","",200,true,"");
checkObjectList.push(checkInfo)           
            

</script>
{% endblock%}