<!--<!doctype html>-->
{% extends '../../FrontEnd/pageBase.html'%}
{% block title %}PHOTOCUT{% endblock %}
{% block navigation %}

{% endblock %}
{% block content %}
<div class="row">
    <div style="width:75%">
        <!-- 首页和用户中心-->
        <input type="hidden" value="{{curEntryObject.id}}" id="curObject_id" name="curObject_id">
        <div class="row">
            <div class="col">
                <!-- 轮播 开始-->
                <div id="lbcarousel" class="carousel slide  center center">
                    <ol class="carousel-indicators">
                        {% for item in bannerList%}
                        <li data-target="#lbcarousel" data-slide-to="{{forloop.counter0}}"
                            {% if forloop.first %}
                            class="active"
                            {% endif %}
                        ></li>
                        {% endfor %}
                    </ol>
                    <div class="carousel-inner ">
                        {% for item in bannerList%}
                        <div class="carousel-item
                            {% if forloop.first %}
                                active
                            {% endif %}
                            ">
                            <img src="/ImageRecommendationSystem/upload/{{item.picAddress}}"
                                 class="d-block w-100 img-thumbnail" alt="" style="width:500px;height:500px;">


                        </div>
                        {% endfor %}
                    </div>
                    <button class="carousel-control-prev" type="button" data-target="#lbcarousel" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-target="#lbcarousel" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </button>
                </div>
                <!-- 轮播 结束 -->
            </div>
        </div>
        <!-- 小图 -->
        <!-- <div class ="row">
            <div class="col-6"></div>
            <div class="col">

                    {% for item in bannerList%}

                      <img src="/ImageRecommendationSystem/upload/{{item.picAddress}}" class="w-4 img-thumbnail" alt="" style="width:100;height:100px;">

                    {% endfor %}
            </div>
        </div> -->
    </div>
    <div style="width:25%">
        <div class="container-fluid">
            <!-- 点赞 品论数 -->
            <div class="row mt-1">
                <div class="col-3">
                    <a onclick="saveAction('Likes','')">
                        <img src="/static/img/likes.jpg"
                             style="height: 15px;height:20px;text-align:center;vertical-align:middle;"/> </a>
                    {{curEntryObject.LikesCount}}
                </div>
                <div class="col">
                    <a href="#goComment"><img src="/static/img/comment.jpg"
                                              style="height: 15px;height:20px;text-align:center;vertical-align:middle;"/>
                    </a>{{curEntryObject.CommentCount}}
                </div>
            </div>
            <!-- 作者信息，图片浏览数 -->
            <div class="row mt-1">
                <div class="col-2">
                    <img src="/ImageRecommendationSystem/upload/{{curEntryObject.WeChatAvatarPicture}}"
                         class="card-img-top img-responsive center-block"
                         style="border-radius:60%;width: 70%;height: 55%;text-align:center;vertical-align:middle;"
                         alt="...">

                </div>
                <div class="col-8">
                    <ul>
                        <li>
                            <a class="input-sm"
                               href="{% url 'membercentergetpersoninfo' %}?MemberId={{curEntryObject.MemberId_id}}">{{curEntryObject.MemberId}}</a>
                        </li>
                        <li>{{curEntryObject.CreatedTime}}<img src="/static/img/browse.jpg"
                                                               style="height: 15px;height:20px;text-align:center;vertical-align:middle;"/>{{browseCount}}
                        </li>
                    </ul>

                </div>
                <div class="col-2">
                    <a onclick="saveAction('FocusOn','{{curEntryObject.MemberId_id}}')">
                        <img src="/static/img/focus.jpg"
                             style="height: 30px;height:30px;text-align:center;vertical-align:middle;"/> </a>
                </div>
            </div>
            <!-- 图片名字 -->
            <div class="row mt-5">
                <div class="col">
                    {{curEntryObject.Name}}
                </div>
            </div>
            <!-- 图片描述 -->
            <div class="row mt-5">
                <div class="col">
                    {{curEntryObject.WorkDescription}}
                </div>
            </div>
            <!-- 图片标签 -->
            <div class="row mt-5">
                {% for item in curEntryObject.ImageTags%}
                <div class="col">

                    <a class="input-sm"
                       href="{% url 'foregrounddisplayinfoimageinformationkeywordsearch' %}?keyword={{item}}&typeSearch=1">{{item}}</a>

                </div>
                {% endfor %}
            </div>
            <!-- 评论图片 -->
            <div class="row mt-5">
                <div class="col">

                    <textarea class="form-control" name="Content" id="Content" value="" maxlength="200"
                              placeholder="请输入内容"> </textarea>

                </div>
            </div>
            <div class="row mt-5">
                <div class="col-10"></div>
                <div class>
                    <button class="btn btn-primary" type="button" onclick="saveComment()">Comment</button>
                </div>
            </div>
            <!-- 图片评论列表 -->

            {% for item in Comment%}
            <div class="row mt-3">
                <div class="col-3">
                    <img src="/ImageRecommendationSystem/upload/{{curEntryObject.WeChatAvatarPicture}}"
                         class="card-img-top img-responsive center-block"
                         style="border-radius:60%;width: 60%;height: 55%;text-align:center;vertical-align:middle;"
                         alt="...">
                </div>
                <div class="col-5"><label for="MemberId">{{item.MemberId}}</label></div>


            </div>
            <div class="row mt-3">
                <div class="col">{{item.Content}}</div>
            </div>
            <div class="row mt-3">
                <div class="col">{{item.CreatedTime}}</div>
                <div class="col">
                    <a onclick="saveAction('CommentLikes','{{item.id}}')">
                        <img src="/static/img/likes.jpg"
                             style="height: 20px;height:20px;text-align:center;vertical-align:middle;"/> </a>


                </div>
                <div class="col">{{item.MemberIdCount}}</div>

            </div>


            {%endfor%}
        </div>
    </div>
</div>
<script type="text/javascript">
      
    function saveAction(action,otherObjectId) {
        var frontusernameid = '{{request.session.frontusernameid}}';
        var frontusername = '{{request.session.frontusername}}';
        
        if ( frontusernameid == '' || frontusername == ''){
            alert("LOGIN FRIST！")
            return false;
        }

        //处理文件字段
        var formData = new FormData();
        var csrf_data = $('[name=csrfmiddlewaretoken]').val();
        
        
        objectId = $('[name=curObject_id]').val();
        formData.append("curObject_id", objectId);  
        formData.append("action", action);
        if (objectId != '')
        {
            if (action == "FocusOn")
            {
                formData.append("MemberId", otherObjectId);
            }
            if (action == "FocusOn")
            {
                formData.append("CommentId", otherObjectId);
            }
        }
        
        formData.append('csrfmiddlewaretoken',csrf_data);
        postUrl = "{% url 'foregrounddisplayinfoimageinformationaction' %}"
        $.ajax({　　　　　　　
            url:postUrl,
            type:'POST',        
            data:formData,
            contentType:false,
            processData:false,

            success:function(data){
                console.log(data);
                if (data.message.flag == 0){
                        $('<div>').appendTo('body').addClass('alert alert-success').html('good').show().delay(300).fadeOut();
                        //刷新页面
                        location.reload(true);
                        
                    }
                else {
                        $("#errorMessage").html(data.message.errorMessage);
                    }
            },
            error:function(){
                $('<div>').appendTo('body').addClass('alert alert-danger').html('fail').show().delay(300).fadeOut();
            },
            statusCode:{
                404:function(){
                alert("Retry");
                },
                500:function(){
                alert("Wait");
                },
            }
    });
    return false;
}
function saveComment() {
        var frontusernameid = '{{request.session.frontusernameid}}';
        var frontusername = '{{request.session.frontusername}}';
        var Content = $('[name=Content]').val();

        if ( frontusernameid == '' || frontusername == ''){
            alert("LOGIN FRIST！")
            return false;
        }
        else if (Content.trim() == '')
        {
            alert("Can not null！")
            return false;
        }
        else
        {
            //处理文件字段
            var formData = new FormData();
            var csrf_data = $('[name=csrfmiddlewaretoken]').val();
            
            
            objectId = $('[name=curObject_id]').val();
            formData.append("curObject_id", objectId);  

            Content = $('[name=Content]').val();
            
            formData.append("Content", Content); 
            
            formData.append('csrfmiddlewaretoken',csrf_data);
            postUrl = "{% url 'foregrounddisplayinfoimageinformationaddcomment' %}"
            $.ajax({　　　　　　　
                url:postUrl,
                type:'POST',        
                data:formData,
                contentType:false,
                processData:false,

                success:function(data){
                    console.log(data);
                    if (data.message.flag == 0){
                            $('<div>').appendTo('body').addClass('alert alert-success').html('good').show().delay(300).fadeOut();
                            //刷新页面
                            location.reload(true);
                            
                        }
                    else {
                            $("#errorMessage").html(data.message.errorMessage);
                        }
                },
                error:function(){
                    $('<div>').appendTo('body').addClass('alert alert-danger').html('fail').show().delay(300).fadeOut();
                },
                statusCode:{
                    404:function(){
                    alert("Retry");
                    },
                    500:function(){
                    alert("wait");
                    },
                }
        });
        return false;
}
}   

</script>
{% endblock %}
