<!--<!doctype html>-->
{% extends '../../FrontEnd/pageBase.html'%} 
{% block title %}图片信息列表{% endblock %}	  
{% block navigation %}                	
	<li class="breadcrumb-item"><a href="ImageRecommendationSystem/FrontEnd/index">首页</a></li>
	<li class="breadcrumb-item active" aria-current="page">图片信息列表</a></li>	
{% endblock %}
{% block content %}
				
					<div class="row  mt-1 justify-content-center">
	  	{% for item in searchResult %}

				  	<div class="card-img-top " style="width: 18rem;">
					  <div class="card">
					  	<a class="nav-link" href ="/ImageRecommendationSystem/ForegroundDisplayInfo/ImageInformation_detail/?eid={{item.id}}">
					  <img class="card-img-top"  src="/ImageRecommendationSystem/upload/{{item.ImageLink}}" alt="{{item.Name}}" style = "width: 100%;height: 100%;"></a>
					</div>
					 </div>
					{% endfor %}
		</div>          
{% endblock %}
