{% extends '../public/base.html'%}
{% block title %}PHOTOCUT{% endblock %}
{% block navigation %}
<ol class="breadcrumb">

    <li><a href="{% url 'likesindex' %}">Likelist</a></li>

    <li class="breadcrumb-item active" aria-current="page">Viewlike</a></li>
</ol>
{% endblock %}
{% block content %}
<div align="center" style="width: 500px;position: relative;top: 0px;left:0px;">
    <div class="form-group">
        <div class="row align-items-left mt-2">
            <div class="col">Createtime:{{curEntryObject.CreatedTime}}</div>
        </div>
        <div class="row align-items-left mt-2">
            <div class="col">Updatetime:{{curEntryObject.UpdateTime}}</div>
        </div>
        <div class="row align-items-left mt-2">
            <div class="col">Photo:{{curEntryObject.ImageInformationId}}</div>
        </div>
        <div class="row align-items-left mt-2">
            <div class="col">User:{{curEntryObject.MemberId}}</div>
        </div>

    </div>
</div>
{% endblock%}