{% extends '../public/base.html'%} 
{% block title %}增加关注 {% endblock %}	 
{% block navigation %}  
		<ol class="breadcrumb">
			

                    <li class="breadcrumb-item"><a href="{% url 'focusonindex' %}">关注列表</a></li>
                    
			<li class="breadcrumb-item active" aria-current="page">增加关注</li>
		   </ol>
{% endblock %} 
{% block content %}
<div align="center" style="width: 99%;position: relative;top: 0px;left:0px;">
   	<form  class="form-horizontal" id="form1">
	{% csrf_token %}
	<p class="text-danger" id ="errorMessage">{{message.errorMessage}}</p>	
        <div class="form-group">
	
                                                        
    
                                                        <div class ="contaier">
                                                                 <div class ="row">
        
                                                			         
                    <div class = "col-xl-2 col-lg-3 col-md-4 col-sm-6"><label for="MemberId" >用户</label></div>
            
                                                                     <div class="col-xl-3 col-lg-4 col-md-5 col-sm-6">
                                                                        <select class="form-control"   name="MemberId" id="MemberId">
                                                                        
                                                                        {% for item in Member%}
                                                                            <option  value="{{item.id}}"  >{{ item.Name}}</option>
                                                                        {% endfor %}
                                                                        </select> 
                                                                     </div>
                                            			
    
                                                         </div>
                                                                   </div>
        
    
            
                                                        
    
                                                        <div class ="contaier">
                                                                 <div class ="row">
        
                                                			         
                    <div class = "col-xl-2 col-lg-3 col-md-4 col-sm-6"><label for="FanId" >粉丝</label></div>
            
                                                                     <div class="col-xl-3 col-lg-4 col-md-5 col-sm-6">
                                                                        <input type="text" class="form-control"   name="FanId" id="FanId"  value=""  maxlength = "11" placeholder="请输入粉丝" >
                                                                    </div>
                                                		
    
                                                         </div>
                                                                   </div>
                    
            
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
	
                    <button class="btn btn-primary" type="button" onclick="saveCurData('/ImageRecommendationSystem/admin/FocusOn/save_add/')" id ="postData">确认</button>
                
            </div>
        </div>
    </form>
</div>

<script type="text/javascript" >
var checkObjectList = []

var checkInfo =  new CheckInfo("MemberId","用户","",11,true,"");
checkObjectList.push(checkInfo)           
            
var checkInfo =  new CheckInfo("FanId","粉丝","",11,true,"");
checkObjectList.push(checkInfo)           
            

</script>
{% endblock%}